footer
  .container.text-center
    p.pull-left Made @ HackDuke
    ul.pull-right.list-inline
      li
        a(href='https://github.com/tsh3lley/duke') GitHub Project
      li
        a(href='https://www.linkedin.com/in/thomasjshelley') Thomas
      li
        a(href='https://www.linkedin.com/in/bowen-li-572233114') Bowen