extends layout

block content
  h1 Voting Booth
  p.lead End-to-end homomorphic encryption voting.
  hr
  .row
    .col-sm-6
      h2 Vote
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='/api/votes', role='button') View details »
    .col-sm-6
      h2 Ledger
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p
        a.btn.btn-default(href='/api/ledger', role='button') View details »