extends layout

block content
	div.container
	div.jumbotron
		h1.title=Ledger
		h1.title='Ledger'
		table
			tbody
				each vote in ledger.votes
					tr
						td 
							h3.title=vote.phone
		.row
			.col-sm-4
			.col-sm-2
				|  1
			.col-sm-2
				|  2
			.col-sm-2
				|  3
			.col-sm-2
				|  4